Обнуление
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
    
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

h2, h3, h4, p, h1{
    margin: 0px;
}


html,
body {
    padding: 0px 0px;
    margin: 0px 0px;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
    position: relative;

    /* background-image: url(../img/homepage-hero.png) ;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover ;  */
}
body._lock {
	overflow: hidden;
}

/*------------------------------------------------*/
.wrapper{
  
    box-sizing: content-box;
    /* box-sizing: border-box; */
    width: 100%;
     /* box-sizing: border-box; */
/* margin: 0px -10px; */
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    
}

.scroll-off {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
/*------------------------------------------------*/
._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibj {
    position: relative;
}
._ibj img {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;
    object-fit: cover;
}
/*----------------header--------------------------*/

.header{
    background-color: #fff;
    max-height: 90px;
    
}

.header__container{
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__logo_div{
    height: 90px;
}

.header__logo img{
    padding-top: 10px;
}

@media (max-width : 846px) {
    
    .header {
        position: fixed;
        z-index: 95;
        top: 0; 
        width: 100%;
    }

    .header__logo img{
        height: 35px;
        
    }

    .header__logo_div{
        padding-top: 30px;
    }

}



@media (max-width : 450px){
    
    .menu__list {
        margin-left: 5%;
        
        
        
    }
}


.menu {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}

/* @media (max-width : 640px){
    .menu__list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 25%;
        
        
        
    }

    .menu {
        display: block;
        
    }
    .menu__item:not(:last-child){
        margin-bottom: 10px;
        align-self: center;
        
        
    }
    .menu__item{
        font-size: 14px;

        
    }
} */



.menu__list {
}

.menu__item:not(:last-child){
    margin-right: 30px;
}



.menu__item {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

.menu__item:hover {
    text-decoration: underline;
}

/* 
@media (max-width: 479px){ 
    .header__container {
        min-height: 70px;
    }
} */


.menu__icon {
    display: none;
}

@media (max-width : 1150px) {

    .header__container {
        justify-content: space-between;
    }

	.menu__icon {
		z-index: 95;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
        /* background-color: red; */
	}

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        /* left: 0; */
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: black;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }

    .menu {
        display: block;
    }

    .menu__list {
        padding-top: 200px;
        max-width: 600px;
        margin: 0 auto;

    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 90;
        background-color: rgba(0, 0, 0, 0.9);
        transition: left 0.5s ease 0s;
        overflow: auto;
        
    }

    .menu__body._active {
        left:0;
    }

    .menu__icon._active span {
        transform: scale(0) translate(0, -50%);
    }

    .menu__icon._active span,
    .menu__icon._active::before,
    .menu__icon._active::after {
        background-color: #fff;
    }
    
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .menu__item {
        color: #FFFFFF;
        display: block;
        font-size: 30px;
        margin-bottom: 15px;
        text-align: center;
        transition: all 0.2s ease 0s;
        
    }

    .menu__item:hover {
        text-decoration: none;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .menu__item:not(:last-child){
        margin-right: 0px;
    }

    .menu__item:last-child{
        margin-bottom: 20px;
    }
}


/*----------------page--------------------------*/
.page {
    flex: 1 1 auto;
}

/* -------------MAIN_BLOCK----------- */

.main__block1 {
    background: url(https://themes.muffingroup.com/be/adagency2/wp-content/uploads/2018/12/adagency2-home-section-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}

.main__block-title-text {
    font-size: 70px;
    font-weight: 500;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5% 15px 0 15px;
    color: #FFFFFF;
}



.main__block1__title2 {
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5% 15px 0 15px;
    color: #fff;
}

.main__block1 p {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    max-width: 1100px;
    text-align: left;
    margin: 0 auto;
    padding: 20px 15px 0;
    color: #fff;
}


.main__block2 {
    background: url(https://themes.muffingroup.com/be/adagency2/wp-content/uploads/2018/12/adagency2-home-section-bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}

.main__block2__title2 {
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5% 0% 3%;
    color: #fff;
}

.main__block2 p {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    max-width: 1100px;
    text-align: left;
    margin: 0 auto;
    padding: 20px 15px 0;
    color: #fff;
}

.main-block__buttons {
    display: flex;
    
    text-align: center;
    min-width: 100%;
    justify-content: center;
}

.main-block__button {
    background-color: #b51717;
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 200%;
    padding: 5px 36px;
    margin: 10px 0px;
}


@media (max-width : 1124px){
    .main__block-title-text {
        padding-top: 35%;
        font-size:  50px;
        font-weight: 500;
    }

    .main__block1__title2 {
        
    }
    
}

@media (max-width: 708px){
    .main__block-title-text {
        padding-top: 55%;
        font-size:  35px;
        font-weight: 500;
    }
}

@media (max-width: 496px){
    .main__block-title-text {
        padding-top: 65%;
        font-size:  25px;
        font-weight: 700;
    }
}


@media (max-width: 938px){ /*телефон*/
    .main__block2__title2 {
        
        padding: 25px 5px 5px 5px ;
        font-size: 40px;
        font-weight: 500;    
        margin: 0 auto;
        margin-top: 150px;
    }

    .main__block1__title2{
        
        font-size: 40px;
        font-weight: 500;
        color: #fff;
        margin: 0 auto;
    }

    .main__block2 p{
        display: block;
        color: #fff;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        max-width: 1100px;
        padding: 5px;

        text-align: left;
        margin: 0 auto;
        padding-top: 20px;
    }
}

/* ------------------SLIDER SWIPER---------------- */
.sliders {
    background: #fff;
    padding-bottom: 50px;
}

.title_slider1 {
    font-size: 34px;
    text-align: center;
    padding-top: 60px;
    font-weight: 700;

}

.title_slider2 {
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    margin-top: 60px;
}

.slider__container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
}



.slider-swiper1 {
    position: relative;
}

.slider-swiper2 {
    margin-top: 40px;
    position: relative;
}



.swiper {
    overflow: hidden;
}
.swiper-wrapper {
    display: inline-flex;
    padding-bottom: 10px;
    

}
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    
}

@media (max-width: 660px) {
    .swiper-slide {
        text-align: center;
    }
}


.swiper-img {
}

.swiper-slide__text {
    color: #000;
    text-align: center;
    padding-bottom: 15px;
}
.swiper-slide__class {
    margin-bottom: 10px;
}
.swiper-slide__title_nexans {
    margin-bottom: 5px;
}

.swiper-slide__button {
    margin-top: 30px;
    padding: 0 10px;

}
.request {
    padding: 12px 32px;
    border: 1px solid #d6d6d6;
    background:#66e412;
    color: #f2f2f2;
}


.swiper-pagination {
    min-height: 30px;
}
.slider-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* .slider-buttons-btn {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: url(../img/slider/arrow-slider.svg) center center no-repeat;
} */
.swiper-button-prev {
    cursor: pointer;

}
.swiper-button-next {
    /* transform: rotate(180deg); */
    cursor: pointer;
}



/* ---------ADDITIOANL BLOCK--------- */

.additional__block__infrared {
    background-color: #fff;
    /* min-height: 600px;  */
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 100%;
}

@media (max-width: 1136px) {
    .additional__block__infrared {
        /* padding-left: 15px; */
    }
}


.infrared1 {
    width: 100%;
}

.infrared__titles {
    margin-left: 40px;
    
}

.infrared__titles h2 {
    font-size: 30px;
    border-left: 5px solid orangered;
    padding-left: 10px;
}

.infrared__titles h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
}


.infrared__inlines {
    min-height: 500px;
    display: flex;
}

.infrared__photo {
    position: relative;
    width: 340px;
}

.infrared__photo__body {
    position: absolute;
    top: 0;
    left: 0; 
    margin: 90px 0 0 90px;
}

.infrared__inline__text {
    border: 15px orange solid;
    padding: 20px 0 0 70px;
    max-width: 550px;
    
    
}

@media (max-width : 1600px) {
    .infrared__inline__text {
        width: 450px;
    }
}


.infrared__inline__text ol {
    
}

.infrared__inline__text li {
    margin-bottom: 15px;
    position: relative;
}

.infrared__inline__text li::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
    display: inline-block;
    margin-right: 7px;

}


.infrared2 {
}

.infrared h2 {
    
}

.infrared2__about {
    padding: 0 10px;
}
.infrared2__inlines {
    max-width: 900px;
    margin: 0 auto;
    
    
}
.infrared2__about_manufacturer {
    flex: 0 0 600px;
    background-color: #fff;
    position: relative;
    padding: 25px 0 15px 60px;
    z-index: 25;
    border: 1px black solid;
    margin-top: -70px;

}


.infrared2__about_manufacturer h2 {
    font-size: 25px;
    font-weight: 700;
    
}



.infrared2__text {
    
}

.infrared2__text ol {
    padding: 0;
}

.infrared2__text li::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
    
    
}


.infrared2__text li {
    margin-bottom: 15px;
    position: relative;
    
}





@media (max-width: 1440px) {
    .infrared__photo__body {
        margin-left: 40px;
        margin-top: 40px;
    }
    .infrared__inline__text {
        width: 350px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .infrared__inline__text {
        font-size: 14px;
        min-height: 300px;
    }
    
    .infrared__inlines {
        min-height: 300px;
    }

    .infrared2__about_manufacturer {
        margin-top: -40px;
    }
    
}

@media (max-width : 1370px) {
    .infrared2__about_manufacturer {
        flex: 0 0 450px;
    }
}

@media (max-width : 1270px) {
    .infrared__photo__body {
        margin-left: 40px;
    }

    .infrared__photo__body img {
        width: 300px;
    }

    .infrared__inline__text {
        width: 270px;
        font-size: 13px;
        margin-left: -50px;
    }

    
}

@media (max-width: 1102px) {
    .infrared__inlines {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "photo text_infrared"
        "slider slider";
        padding: 0 10px;
    }

    .infrared__photo {
        grid-area: photo;
        justify-content: start;
    }

    .infrared__titles {
        margin-bottom: 15px;
        text-align: center;
        margin-left: 0;
        
        
    }

    .infrared__titles h2 {
        font-size: 30px;
        border-left: 0;
        padding-left: 10px;
    }
    .infrared__inline__text {
        grid-area: text_infrared;
        width: 450px;
        font-size: 15px;
        margin-left: -120px;
    }

    .itc-grid {
        grid-area: slider;
    }

   

    .infrared__photo {
        justify-self: end;
    }

    .infrared__photo__body {
        margin-left: -50px;
    }
}

@media (max-width: 850px) {
    .infrared__inline__text {
        margin-left: -100px;
    }

    

    .infrared__photo__body {
        padding-left: 15px;
    }
}

@media (max-width: 803px) {
    .infrared__inline__text {
        width: 350px;
    }

    
}

@media (max-width : 700px) {
    .infrared__photo__body img{
        width: 230px;
        margin-top: 30px;
    }

    .infrared__inline__text {
       margin-left: -130px;
       width: 250px;
       font-size: 14px;
    }

    .infrared__photo__body {
        margin-left: -10px;
    }
}

@media (max-width : 604px) {

    .infrared__photo__body img{
        width: 100%;
        margin-top: 30px;
    }

    .additional__block__infrared {
        width: auto;
        margin: 0 auto;
        
    }

    .infrared1 {
        display: block;
        width: auto;
        margin: 0 auto;
    }
    .infrared__titles {
        text-align: left;
        padding-right: 10px;
        width: 100%;
    }

    .infrared__inlines {
        display: block;
        width: auto;
        margin: 0 auto;
        
    }
    .infrared__photo {
        width: 100%;
        margin: 0 0 15px 0;
        position: relative;
        z-index: 40;
        text-align: center;
        
    }

    .infrared__inline__text {
        display: block;
        margin: 0px;
        width: auto;
    }

    


    .infrared__photo__body {
        position: static;
        margin: 0px auto;
        text-align: center;
        padding: 0 15px;
        width: auto;
    }

    .infrared2__text {
        padding-right: 5px;
    }
}

.swiper-img__infrared {
    
    text-align: center;
}

@media (max-width: 386px) {
    .infrared2__about_manufacturer h2 {
        font-size: 18px;
    }
    .infrared2__text {
        font-size: 12px;
    }

    .infrared2__about_manufacturer {
        padding-left: 30px;
    }

}
@media (max-width: 340px) {
    .infrared2__about_manufacturer h2 {
        font-size: 13px;
    }
    .infrared__inline__text ol {
        padding: 0;
    }
}

/*----------------slider--------------------------*/
.slider {
    
}

.slider__container {

}

.slider__body{
   position: relative;
   padding: 15px 0px;
   width: 100%;
   height: 650px;
   /* background-color: rgb(92, 24, 24); */
   overflow: hidden;


 }

.slider-line {
   height: 100%;
   /* width: 523px; */
   display: flex;
   flex-grow: 50%;
   flex-wrap: nowrap;


 }

 

.slider-column {
   border: 0cm;
/* background-color: rgb(41, 197, 104); */
     /* background-color: rgb(193, 75, 75); */
   height: 100%;
   width: 523px;
   margin: 0px 0px;

}
@media (max-width: 1087px){ /* */
   .slider__body  {
       margin: 0px auto;
       width: 523px;
   
   
     }
 }

.slide-card {
  
   width: 513px;

   /* width: 513px; */
   margin: 0px 5px;

   /* margin:0px  10px 0px 10px; */
   background-color: white; 
   border:  1px solid  black;
   border-radius: 10px;
   height: 100%;
}

.slide-card-img {
   margin: 0 auto;
   width: 350px;
   height: 350px;
}

.slide-card-description {
    width: 400px;
    height: 100px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    

}

.slide-card-title {
   line-height: 100%;
   font-size: 20px;
   font-weight: 700;
}

.slide-card-subtitle {
   line-height: 100%;
   font-size: 15px;
   font-weight: 700;
   margin: 10px;
   text-align: center;
}

.slide-card-button {
   
   margin: 30px auto;
   width: 200px;
   background-color: #b51717;
   border-radius: 37px;
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   font-weight: 700;
   line-height: 200%;
    
}

.slider-nav {
   position: absolute;
   top: 50%;
   left: 0;
   min-width: 100%;
   display: flex;
   justify-content: space-between;
   height: 50px;
}

.slider__button {
   /* background-color: chartreuse; */

   width: 50px;
   height: 50px;
   margin: 0px 10px;
   border-radius: 5px;
   
}

.slider-prev {
   background-image: url(../img/icons-налево.png) ;
   /* background-repeat: no-repeat; 
   background-attachment: fixed; */
   background-size: cover ; 
}

.slider-next {
   background-image: url(../img/icons-направо.png) ;
   /* background-repeat: no-repeat; 
   background-attachment: fixed; */
   background-size: cover ; 
    

}

@media (max-width: 667px){ /*планшет*/
   .slide-card-title {
       line-height: 100%;
       font-size: 20px;
       font-weight: 700;
   }
   
   .slide-card-subtitle {
       line-height: 100%;
       font-size: 12px;
       font-weight: 500;
       margin: 10px;
   }
   .slide-card-button {
       margin: 10px auto;
       background-color: chartreuse;
       border-radius: 10px;
       width: 150px;   
       height: 60px;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .slider__body{
       margin: 0px auto;
       width: 523px;
       position: relative;
       padding: 15px 0px;
        height: 450px;
       /* background-color: rgb(92, 24, 24); */
       overflow: hidden;
   
   
     }

     .slide-card-img {
       margin: 0 auto;
       width: 250px;
       height: 250px;
       display: flex;
align-items: center;   
}
   
}

@media (max-width: 563px){ /*планшет*/
   .slider__body{
       margin: 0px auto;
       width: 400px;
       position: relative;
       padding: 10px 0px;
        height: 250px;
       /* background-color: rgb(92, 24, 24); */
       overflow: hidden;
   
   
     }
     .slide-card {
  
       width: 400px;
   
       /* width: 513px; */
       margin: 0px 5px;
   
       /* margin:0px  10px 0px 10px; */
       background-color: rgba(0, 0, 0, 0.559); 
       border-radius: 10px;
       height: 100%;
   }

    .slide-card-img {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;   
}

.slide-card-button {
   margin: 0px auto;
   background-color: chartreuse;
   border-radius: 10px;
   width: 150px;   
   height: 60px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.slide-card-description {
   width: 200px;

   margin: 0px auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
}
/*----------------form--------------------------*/
.form {
    height: 655px;
    background: #fff url(../img/form.png) no-repeat;
    background-size: cover;
    
    /* background-color: #fff;
    background: url(../img/form.png); */
    /* overflow: hidden; */
}
.form__container {
    max-width: 1246px;
    padding: 40px 15px;
    margin: 0 auto;
    box-sizing: content-box;
     

}





.form__body {
    /* background-color: #FFFFFF; */
    border-radius: 10px;
    margin: 0px auto;
    min-height: 300px; 
    max-width: 1020px;

}

.form__body p{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
}

.form__title {
    margin: 0px auto;
    text-align: center;
    line-height: 142%;
    font-size: 40px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.data{   
    margin: 0px auto;
    padding: 10px 0px;
    max-width: 750px;
    display: flex;
    justify-content: center;
    color: #b51717;
    font-weight: 700;
    min-height: 60px;
    
}

.form__input {
    width: 450px;
    border: 0.0625rem solid #b2bcc3;
    border-radius: 6px;
    color: #000;
    font-size: 16px;
}

.form__button {
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 0px auto;
    max-width: 250px;
    text-align: center;

}
.form-button {
    /* background-color: #b51717;
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 200%;
    padding: 5px 36px;
    margin: 10px 0px; */
    border-radius: var(--button-default-radius-large,.5rem);
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 15px 35px;
    border: 2px solid green;
}

@media (max-width: 1300px) {
    .form__container {
        max-width: 900px;
    }

    .data {
        max-width: 500px;
    }

    .form__input {
        width: 350px;
    }

    .form__body  {
        max-width: 750px;
    }

    
}

@media (max-width : 700px) {
    .form__title {
        font-size: 25px;
    }

    .form__body p {
        font-size: 15px;
        font-weight: 700;
    }
}




/*----------------features--------------------------*/
.features {
    
}
.features__container{
    /* width-min: 100%; */
}
.features__body {
    margin: 0px auto;
    /* text-align: center; */
}
.features__title {
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
    color: black;
    margin: 35px 0 35px 0;
    text-align: center;
}

@media (max-width : 946px) {
    .features__title {
        font-size: 35px;
    }
}

@media (max-width : 586px) {
    .features__title {
        font-size: 22px;
    }
}

.features__content {
    /* width-min: 100%; */
    /* height-min: 700px; */
    margin: 0px auto;
    position: relative;
    padding: 30px 0 70px 0;
    background-color: #fff;
    display: flex;
}



@media (max-width : 1226px) {
    .features__content {
        flex-direction: column;
    }
   
} 


/* ------MAIN TEXTPHOTOS--------- */


.main__textphotos{
    background: #fff;
    padding-top: 100px;
    
}



.main__textphotos1 {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__textphotos1_img img{
    float: right;

}

@media (max-width: 1012px){
    .main__textphotos1{
        grid-template-columns: 1fr;
    }

    

}
.main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    
}



.main__text p {
    padding:0 15px 0 30px;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    /* padding: 20px 30px 0; */
    margin: 20px 0 0 0px ;
}


.main__text_title {
    padding:0 15px 0 30px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.1;
    text-align: left;
}


.main__textphotos_button {
    display: inline-block;
    margin-top: 30px;
    padding:0 30px 0;
}


.main__textphotos_button2{
    display: inline-block;
    margin-top: 30px;
    padding:0 40px 0;
}

.text_button {
    padding: 12px 32px;
    border: 1px solid #d6d6d6;
    border-radius: 40px;
    color: #717779;
    transition: all 1s ease 0s;
}

.text_button:hover {
    background: aqua;
}




.main__textphotos2{
    padding: 40px 0 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width : 1012px){
    .main__textphotos2{
        display: grid;
        grid-template-columns: 100%;
    }


    .main__text2 h2{
        text-align: center;
    }
    .main__textphotos_button2 {
        margin: 0 auto;
        padding-top: 20px;
    }
}



@media (max-width: 1200px){
    .main__textphotos2 img{
        height: 250px;
        display: block;
        margin: 0 auto;
        padding-top: 70px;
    }
}
@media (max-width: 1200px){
    .main__textphotos1 img{
        height: 280px;
    }
}
@media (max-width: 1014px){
    .main__textphotos1 img{
        padding-top: 30px;
        height: 100%;
        width: 100%;
    }
    /* .main__textphotos1 {
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        
    } */

    .main__text_title {
        text-align: center;
    }

    .main__textphotos_button {
        margin: 0 auto;
        padding-top: 20px;
    }
}





.main__text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    max-height: 100%;
    
}



.main__text2 p {
    font-weight: 200;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0px 0 0px ;
    padding:0 15px 0 35px;
    
}

@media (max-width : 640px){

    .main__text p {
        font-size: 14px; 
        text-align: center;

    }

    .main__text2 p {
        font-size: 14px; 
        text-align: center;
    }

}

@media (max-width : 462px){

    .main__text p {
        font-size: 12px; 
        text-align: center;

    }

    .main__text2 p {
        font-size: 12px; 
        text-align: center;
    }

}


.main__text2 h2{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.1;
    padding:0 15px 0 35px;
   
    
}



.features-list {
    text-align: start;
    width: 30%;
    flex-grow: 1;
    line-height: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #565656;
}



.features-list li{
    position: relative;
    margin: 40px 0px ;
    padding-left: 20px;
}
.features-list ol{
    margin: 0px 20px;
    padding: 0px 0px 0px 0px;
 }

.benefits  li::before{
    content: "";
    background: url(../img/icons/li.svg) no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 3px;
}
.features-list h2{
    font-size: 20px;
    font-family: 'Open Sans';
    color: #565656;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.features-img {
    flex-grow: 1;
    width: 700px; 
    min-height: 400px;

}

@media (max-width : 1226px) {
    .features-list {
        width: 100%;
    }

    .features-img {
        width: 100%;
    }
}




/* ------------WHY NEXANS------------- */

.why__Nexans__videos {
    background-color: #fff;
    background: url(../img/dot-grid.webp);
    padding-bottom: 60px;
}


.why__Nexans {
    /* background-color: #FFFFFF; */
    
}


._container_Nexans {
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}



.why__Nexans__title {
    margin: 0px;
    text-align: center;
    margin-bottom: 80px;
    padding: 30px 15px 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

@media (max-width : 670px) {
    .why__Nexans__title {
        font-size: 1.4rem;
    }
}
@media (max-width : 496px) {
    .why__Nexans__title {
        font-size: 1.2rem;
    }
}


.why__Nexans__items {
}
.why__Nexans__items__row1 {
    
}

.why__Nexans__items__row2 {
}


.why__Nexans__row1__body{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.why__Nexans__row2__body{
    display: flex;
    justify-content: center;
    gap: 30px;
}



.why__Nexans__p {
    font-size: 15px;
    padding-bottom: 15px;
}

.why__Nexans h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}


@media (max-width : 1126px) {
    ._container_Nexans {
        max-width: none;
    }

    .why__Nexans h4 {
        font-size: 16px;
        
    }

    .why__Nexans p {
        font-size: 14px;
        
    }
    
}

@media (max-width : 1010px) {
    .why__Nexans__row1__body{
        display: flex;
        flex-direction: column;
        
    }
    
    .why__Nexans__row2__body{
        display: flex;
        flex-direction: column;
    }

    .why__Nexans__item1 {
        padding-left: 40px;
        
    }

    .why__Nexans__item1 img{
        height: 100%;
    }
    
    
    .why__Nexans__item2 {
        padding-left: 40px;
    }

    .why__Nexans__item2 img{
        height: 100%;
    }

    .why__Nexans__item3 {
        padding-left: 40px;
    }

    .why__Nexans__item3 img{
        height: 100%;
    }

    .why__Nexans h4 {
        font-size: 30px;
    }

    .why__Nexans p {
        font-size: 20px;
        
    }


}


.why__Nexans__item1 {
    flex: 0 1 33.333%;
}


.why__Nexans__item2 {
    flex: 0 1 33.333%;
}
.why__Nexans__item3 {
    flex: 0 1 33.333%;
}


/* ---------------VIDEO EXAMPLES------------- */

.video__examples {
    /* background-color: #FFFFFF; */
    padding-top: 90px;
    padding-bottom: 40px;
}

.youtube__videos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 15px;
    margin: 0 auto;
}

.youtube__center {
    align-self: center;
}


@media (max-width : 1235px) {
    .youtube__videos {
        flex-direction: column;
    }
    
    .youtube__center {
        align-self: center;
    }

    .youtube__center #youtube {
        width: 800px;
        height: 540px;
    }
}



.video__examples h4 {
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 15px 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

.video__examples p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}


@media (max-width : 828px) {
    .video__examples h4 {
        font-size: 1.4rem;
    }
    
    .youtube__center #youtube {
        height: 350px;
        width: 500px;
    }
}


@media (max-width : 568px) {
    .youtube__center #youtube {
        height: 100%;
        width: 100%;
    }
}

/*----------------footer--------------------------*/
.footer{
    /* padding-top: 200px; */
    background-color: rgb(255, 255, 255);
}

@media (max-width : 1010px) {
    .footer {
        padding-top: 100px;
    }
}

.footer__top {
    background: #17213c;
    min-height: 50px;
}
.footer__info{
    min-height: 50px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
}

/* @media (max-width: 458px){
    .footer__info{
        flex-direction: column;
        
    }
    .footer__info div{
        display: flex;
        align-items: center;
     }
} */


.footer__info div, .Nexans{
    flex-basis: 250px;
}

.Nexans {
    font-size: 27px;
    font-weight: 700;
    font-style: italic;
}


.footer__info:nth-child(1) div{
   
}

@media (max-width :802px) {
    .Nexans {
        font-size: 20px;
    }
}

@media (max-width : 560px) {
    .Nexans {
        font-size: 16px;
    }
    .footer__info {
        font-size: 14px;
    }
}


/*popup*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

   /* overflow-y: auto;
    overflow-x: hidden; */
    z-index: 200;

    /*Скрыть для последующего плавного появления*/
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
/*появление popup при помощи css*/
.popup:target {
    opacity: 1;
    visibility: visible;
    
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    position: relative;
    background-color: #fff;
    color: #000;
    width: 800px;
    height: 500px;
    padding: 30px;
    /* overflow-y: scroll; прокрутка по горизонтали */
    overflow-x: hidden; /* прокрутка по вертикали */
}

/*.cart-header {
     position: fixed;
     background-color: #fff;

}*/

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    
    

}

.popup__title {
    text-align: center;
    width: 350px;
    font-size: 40px;
    margin: auto;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.popup__text {
 
}

sup{
    line-height: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

@media (max-width : 810px) {
    .table {
        font-size: 15px;
    }
}

.table tr {
    height: 40px;
}

.table td:nth-child(odd) {
    padding-right: 40px;
}

table tr:nth-child(odd) {
    display: table-row;
    background-color: #fafafa;
}